OPENAI_API_KEY="<your-api-key-here>"
OPENAI_MODEL="<your-model-here>"
OPENAI_BASE_URL="<your-model-base-url-here>"

PERPLEXITY_API_KEY="<your-api-key-here>"
FIRECRAWL_API_KEY="<your-api-key-here>"

GCP_API_KEY="<your-google-search-api-key-here>"
CSE_ID="<your-google-custom-search-engine-id-here>"