openai>=1.0.0
google-generativeai

litellm==1.40.15
tiktoken>=0.7.0
fsspec[http]==2023.10.0
anyio==3.7.1
packaging<24.0,>=23.1
httpx<0.25.0,>=0.24.1
importlib-metadata<7.0,>=6.0
firecrawl-py


pandas
pdoc
python-dotenv

requests
google-api-python-client

loguru
dill